.item-container {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  border-radius: 0.2rem;
  padding: 0.2rem 0.6rem;
  box-shadow: 9px 10px 26px -4px rgba(0,0,0,0.27);
  -webkit-box-shadow: 9px 10px 26px -4px rgba(0,0,0,0.27);
  -moz-box-shadow: 9px 10px 26px -4px rgba(0,0,0,0.27);
}

.button-container {
  align-self: center;
}

.item-button {
  margin: 0rem 2rem 0rem 0;
  align-self: center;
  margin: 0 0 0 2rem;
  text-align: center;
  width: 65px;
}

.delete-button {
    background-color: red !important;
}