.item-container {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  border-radius: 0.2rem;
}

.item-name {
  flex: 1;
}

.item-button {
  margin: 0rem 2rem 0rem 0;
  align-self: center;
  margin: 0 0 0 2rem;
  text-align: center;
  width: 65px;
}

.delete-button {
    background-color: red !important;
}